<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTf-8">
    <meta name="viewport" content="width=device-width,intial-scal=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'student.css' %}">
	<title>
        crude operation
    </title>

</head>
<body>
  {{msg}}
<h2 id="head">show data</h2>
<div id="secondDiv">
    <form action="/">
        <input type="submit" value="<< Back">
        </form>
        </div>
        <div id="OneDiv">
            <table>
                <thead>
                    <th>
                        Id
                        </th>
                        <th>Name</th>
                        <th>Lastname </th>
                        <th>Branch<th>
                        </thead>
                        {% for student in student %}
                        <tr>
                            <td>{{Name}}</td>
                            <td>{{Lastname}}</td>
                            <td>{{Branch}}</td>
                            {% endfor %}
                        </table>

</body>
</html>
